@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #ed7738;
  --secondary: #27888a;
}

@theme {
  --font-sans: var(--font-poppins);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

p {
  line-height: 1.3;
}

.text-4xl {
  font-size: 2.8rem;
  line-height: 0.8;
}

.text-3xl {
  font-size: 2.2rem;
  line-height: 1;
}

.text-lg {
  line-height: 1.2;
}

@media (max-width: 640px) {
  .text-4xl {
    font-size: 2.5rem;
  }
  .text-3xl {
    font-size: 1.5rem;
  }
}
